<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>proxoolServletConfigurator</servlet-name>
    <servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
    <init-param>
      <param-name>xmlFile</param-name>
      <param-value>WEB-INF/classes/config/proxool.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AdminProxool</servlet-name>
    <servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProxool</servlet-name>
    <url-pattern>/adminProxool</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>requestCharsetEncodingFilter</filter-name>
    <filter-class>com.lpmas.framework.web.filter.RequestCharsetEncodingFilter</filter-class>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>defaultEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>requestCharsetEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminAuthorityFilter</filter-name>
    <filter-class>com.lpmas.admin.filter.AdminAuthorityFilter</filter-class>
    <init-param>
      <param-name>excludeUri</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>logonUrl</param-name>
      <param-value>http://test.portal.lpmas-admin.net:9010/Logon.do</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>adminAuthorityFilter</filter-name>
    <url-pattern>/*.do</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.lpmas.console.group.MessageGroupListener</listener-class>
  </listener>
</web-app>