<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
	<properties>
		<property name="LOG_HOME">f:\Logs\erp</property>
		<property name="PATTERN_LAYOUT">%-r %d [%t] %level %C.%M(%F:%line) - %m%n</property>
		<property name="FILE_PATTERN">%d{yyyy-MM-dd}</property>
		<property name="DEFAULT_LOG_LEVEL">debug</property>
	</properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n" />
		</Console>
		<RollingFile name="rootLog" fileName="${LOG_HOME}/root.log" filePattern="${LOG_HOME}/root.${FILE_PATTERN}.log">
			<PatternLayout pattern="${PATTERN_LAYOUT}" />
			<TimeBasedTriggeringPolicy interval="24" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="console" />
		</Root>
		<logger name="com.lpmas" level="${DEFAULT_LOG_LEVEL}" additivity="false">
			<AppenderRef ref="rootLog" />
		</logger>
	</Loggers>
</Configuration>